<template>
    <div class="grid-container" role="list">
        <div class="grid-item" v-for="color in colorsList" :key="color.name" role="listitem">
            <div class="box" :style="{ backgroundColor: color.hex }" aria-label="Color swatch" role="img"></div>
            <div class="color-info-box">
                <h4 class="color-name">{{ color.name }}</h4>
                <h4 class="color-code">{{ color.hex }}</h4>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
    name: "ColorsCard",
    props: {
        colorsList: {
            type: Array,
            required: true,
        },
    },
});
</script>

