@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c8c8c8;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #c8c8c8;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #c8c8c8;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c8c8c8;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color: #c8c8c8;
}

input::placeholder { /* Most modern browsers support this now. */
   color: #c8c8c8;
}

.colors-container {
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
}

.grid-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 30px;
    break-inside: avoid;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 1px 6px #aeccff;
    transition: all 0.4s;
}

.grid-item:nth-child(odd) .box {
    height: 75px;
}
.grid-item:nth-child(even) .box {
    height: 150px;
}

.grid-container {
    column-count: 5;
    column-gap: 30px;
    margin-bottom: 50px;
}
@media (max-width: 979px) {
    .grid-container {
        column-count: 4;
    }
}
@media (max-width: 680px) {
    .grid-container {
        column-count: 3;
    }
}
@media (max-width: 550px) {
    .grid-container {
        column-count: 2;
    }
}
@media (max-width: 375px) {
    .grid-container {
        column-count: 1;
    }
}

.color-info-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.color-name {
    font-size: 14px;
    color: #7d7d7d;
    margin-right: 8px;
}

.color-code {
    font-size: 14px;
}

.input-container {
    text-align: center;
    margin: 30px 0;
}

.search-input {
    padding: 10px 20px;
    max-width: 400px;
    width: 90%;
    height: 46px;
    border: 1px solid transparent;
    border-radius: 24px;
    font-size: 16px;
    box-shadow: 2px 2px 8px #aeccff;
    outline: none;
}

.search-input.disabled {
    background: #ededed;
    box-shadow: none;
}

.search-input:focus {
    border-color: #85b0f9;
}

.info-text {
    font-size: 20px;
    text-align: center;
    color: #989898;
}