<template>
  <div>
    <div class="input-container">
      <input 
        type="text" 
        class="search-input"
        :class="{'disabled': loading}"
        v-model="inputColor" 
        @input="getInputColorNames($event)"
        placeholder="Search by color names or hex value"
        :disabled="loading"
      />
    </div>
    <div class="colors-container">
      <p class="info-text" v-if="loading">Loading colors...</p>
      <p class="info-text" v-else-if="!loading && noResultFound">{{ errorMsg }}</p>
      <template v-else>
        <colors-card 
          :colorsList="colorsList"
        />
      </template>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import ColorsCard from '@/components/ColorsCard.vue';

export default {
  name: 'App',
  components: {
    'colors-card': ColorsCard,
  },
  setup() {
    const inputColor = ref('');
    const colors = ref([]);
    const colorsList = ref([]);
    const noResultFound = ref(false);
    const loading = ref(false);
    const errorMsg = ref('No filtered results found');
    const timer = ref(null);

    // Fetching colors
    const getColors = async () => {
      loading.value = true;
      try {
        const response = await axios.get('https://color-names.herokuapp.com/v1/');
        colors.value = response.data.colors;
        colorsList.value = colors.value.slice(0, 100);
      } catch (error) {
        errorMsg.value = error.message;
        noResultFound.value = true;
      } finally {
        loading.value = false;
      }
    };

    // Handle input changes and filter colors
    const getInputColorNames = () => {
      clearTimeout(timer.value);
      timer.value = setTimeout(() => {
        const colorName = inputColor.value.toLowerCase();
        if (colorName) {
          const filteredColors = colors.value.filter(col =>
            col.name.toLowerCase().includes(colorName) || col.hex.includes(colorName)
          );
          colorsList.value = filteredColors.slice(0, 100);
          noResultFound.value = filteredColors.length === 0;
        } else {
          colorsList.value = colors.value.slice(0, 100);
          noResultFound.value = false;
        }
      }, 100);
    };

    onMounted(() => {
      getColors();
    });

    return {
      inputColor,
      colorsList,
      loading,
      noResultFound,
      errorMsg,
      getInputColorNames,
    };
  }
}
</script>

